.Project {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    box-shadow: 2px 2px 8px rgb(145, 145, 145);
    padding: 20px;
    border-radius: 10px;
    word-wrap: break-word;
}

.Project video {
    width: 100%;
    box-shadow: 2px 2px 8px rgb(117, 117, 117);
    margin-top: 10px;
    border-radius: 2px;
}

.Project p {
    margin: 10px 0;
}

.Project img {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 450px) {
    .Project {
        padding: 15px;
    }
}
