.Navigation-item a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

.Navigation-item a:hover {
    background-color: white;
    color: #7C1414;
}

@media (max-width: 600px) {
    .Navigation-item {
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Navigation-item a {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 350px) {
    .Navigation-item a {
        padding: 8px 5px;
    }
}