.Profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 2px 2px 8px rgb(150, 150, 150);
    border-radius: 10px;
    margin-bottom: 20px;
}

.Profile figcaption {
    width: 25%;
}

.Profile figure {
    width: 100%;
    aspect-ratio: 1/1;
}

.Profile figure img {
    width: 100%;
}

.Profile-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 40px;
}

.Profile-info h2 {
    font-size: 2rem;
    color: #7C1414;
    margin-bottom: -10px;
}

.Profile-info p {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(126, 126, 126);
}

.Profile-medias {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.Profile-medias a {
    width: 40px;
    margin-right: 35px;
}

.Profile-medias a img {
    width: 100%;
}

@media (max-width: 750px) {
    .Profile-info {
        padding: 10px 0 10px 30px ;
    }

    .Profile-info h2 {
        font-size: 1.2rem;
    }

    .Profile-info p {
        font-size: 0.9rem;
    }

    .Profile-medias a {
        width: 30px;
        margin-right: 25px;
    }
}

@media (max-width: 600px) {
    .Profile {
        padding: 15px;
    }

    .Profile-medias {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .Profile {
        flex-direction: column;
        padding: 10px 15px;
    }

    .Profile figcaption {
        width: 180px;
    }

    .Profile-info {
        width: 100%;
        align-items: center;
        padding-left: 20px;
    }

    .Profile-info h2 {
        margin-bottom: -5px;
    }

    .Profile-medias {
        width: 100%;
        justify-content: space-between;
    }
    
    .Profile-medias a {
        margin: 0;
    }
}

@media (max-width: 380px) {
    .Profile-info {
        padding: 10px 10px 0 10px;
    }

    .Profile-info h2 {
        font-size: 1rem;
    }

    .Profile-info p {
        font-size: 0.7rem;
    }

    .Profile-medias a {
        width: 25px;
    }
}