.Navigation {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 30px auto;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #7C1414;
    list-style: none;
    border-radius: 20px;
}