@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@400;700&family=Square+Peg&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Anek Odia', sans-serif;
	/* font-family: 'Square Peg', cursive; */
	padding: 0 20px;
}